flask>=2.0,<4.0            
ultralytics<=8.3.23   
opencv-python>=4.8.1.78,<=4.10.0.84    
numpy>=1.26.0,<2.0.0         

torch>=2.0,<3.0            
torchvision>=0.15,<1.0     

pillow<12.0.0,>=11.0.0         
requests>=2.25,<3.0        
matplotlib>=3.7,<4.0       
scipy>=1.10,<2.0           
pyyaml>=6.0,<7.0           
tqdm>=4.65,<5.0            
psutil>=5.9,<6.0           
boto3>=1.35.75,<2.0.0

tensorflow>=2.19.0
sagemaker>=2.243.0